.tituloLogo{

    background-color: #1f99d8;
    margin: 1%;
    display: flex;
    }


.titulo{

    font-size: 120px;
    width: 100%;
    height: 150px;
    color: white;

    }

    .fondo{
    
        background-image: url(https://images.hdqwalls.com/download/deadpool-2-movie-cinema-01-1680x1050.jpg);
        align-items: center;
        text-align: center;
        width: 100%;
        background-color: grey;
        height: 700px;
    }

.numeros{

    font-size: 35px;
    color: whitesmoke;
    margin: 1%;
    display: flex;
  
}

.sucursals{

    font-size: 35px;
    color: whitesmoke;
    margin: 1%;
    display: flex;
  
}

.pelis{
    font-size: 35px;
    color: whitesmoke;
    margin: 1%;
    display: flex;
  

}

.cantida{
    font-size: 35px;
    color: whitesmoke;
    margin: 1%;
    display: flex;
  

}

.preci{
    font-size: 35px;
    color: whitesmoke;
    margin: 3%;
    display: flex;
  

}

.mostrar{
    font-size: 35px;
    color: whitesmoke;
    margin: 1%;
    display: flex;
  

}